<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.mapper.OrderMapper">
  
    <select id="selectOrderByOrderDate" resultType="com.sharding.entity.Order">
        select  * from posx_order_1 where order_date=#{orderDate} order by order_id desc
        <if test="start!=null and length!=null ">
            limit #{start} ,#{length}
        </if>
    </select>
    <select id="selectOrderByOrderDateTemp" resultType="java.lang.Integer">
        select temp.cnt from (
        select count(temp.merchant_id) as cnt
        from (
            select  merchant_id from posx_order_1
            where order_date between #{orderDate} and #{orderDate1}
            group by merchant_id
            order by order_id desc
        ) temp
        ) temp
    </select>
    <select id="selectOrderCountByOrderDate" resultType="java.lang.String">
        select  order_id from posx_order_1 where order_date=#{orderDate}
    </select>

    <select id="selectOrderHistoryCountBySummary" resultType="java.lang.Integer">
        select temp.totalCounts from(
        select sum(
              <choose>
               <when test="@java.util.Objects@equals(orderStatus,'1'.toString())">
                   ifnull(order_counts, 0)
               </when>
                  <when test="@java.util.Objects@equals(orderStatus,'5'.toString()) or @java.util.Objects@equals(orderStatus,'6'.toString())">
                      ifnull(refund_count, 0)
                  </when>
               <when test="@java.util.Objects@equals(orderStatus,'3'.toString())">
                   ifnull(fail_count, 0)
               </when>
                  <when test="@org.apache.commons.lang3.StringUtils@isEmpty(orderStatus)">
                      ifnull(order_counts, 0)+ ifnull(fail_count, 0)
                  </when>
                <otherwise>
                    0
                </otherwise>
            </choose>
        ) AS totalCounts
        from posx_agent_mer_payway_stat pamps
        where pamps.trade_date between #{beginTime} and #{endTime}
        <if test="@org.apache.commons.collections.CollectionUtils@isNotEmpty(agentNos)">
            and pamps.agent_no in
            <foreach collection="agentNos" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(agentNo)">
            and pamps.agent_no = #{agentNo}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(agentNoTree)">
            and pamps.agent_no_tree like concat(#{agentNoTree}, '%')
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(deviceType)">
            and pamps.device_type = #{deviceType}
        </if>
        <if test="paywayId !=null and paywayId!=''">
            and pamps.payway_id=#{paywayId}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(settleType)">
            and exists(
            select 1
            from posx_merchant pm
            where pm.merchant_id = pamps.merchant_id
            and settle_type = #{settleType}
            )
        </if>
        <if test="@org.apache.commons.collections.CollectionUtils@isNotEmpty(merchantIds)">
            and pamps.merchant_id IN (
            <foreach collection="merchantIds" item="merchantId" separator=",">
                #{merchantId}
            </foreach>
            )
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(merchantId)">
            and pamps.merchant_id = #{merchantId}
        </if>
        ) temp
    </select>
    
    <!-- >= <=都要有才能命中分片键 -->
    <select id="selectPosxDirectAgentMerStatistics" resultType="com.sharding.entity.PosxDirectAgentMerStatistics">
        select  * from posx_direct_agent_mer_statistics
        where
            <trim prefixOverrides="and">
                <if test="startTime != null and startTime!=''">
                    AND <![CDATA[ trade_date >= #{startTime}]]>
                </if>
                <if test="endTime != null and endTime!=''">
                    AND <![CDATA[ trade_date <= #{endTime}]]>
                </if>
            </trim>
    </select>
</mapper>